{
  "workbench.iconTheme": "vscode-icons",
  "editor.tabSize": 2,
  "editor.fontSize": 13,
  "git.path": "/usr/bin/git",
  "terminal.integrated.shell.osx": "zsh",

  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.tokenColorCustomizations": {
    "comments": "#0a0",
    "keywords": "#0fb8e2",
    // "variables": "#F00"
    "strings": "#08f5ba",
    "functions": "#fa8f04"
    // "numbers": "#ff00d4"
  },
  "workbench.colorCustomizations": {
    // 设置光标颜色
    "editorCursor.foreground": "#0fb8e2",
    "terminal.background": "#2C3E50",
    "terminal.foreground": "#E0E0E0",
    "terminalCursor.background": "#E0E0E0",
    "terminalCursor.foreground": "#E0E0E0",
    "terminal.ansiBlack": "#2C3E50",
    "terminal.ansiBlue": "#3498DB",
    "terminal.ansiBrightBlack": "#95A5A6",
    "terminal.ansiBrightBlue": "#3498DB",
    "terminal.ansiBrightCyan": "#1ABC9C",
    "terminal.ansiBrightGreen": "#2ECC71",
    "terminal.ansiBrightMagenta": "#9B59B6",
    "terminal.ansiBrightRed": "#E74C3C",
    "terminal.ansiBrightWhite": "#ECF0F1",
    "terminal.ansiBrightYellow": "#F1C40F",
    "terminal.ansiCyan": "#1ABC9C",
    "terminal.ansiGreen": "#2ECC71",
    "terminal.ansiMagenta": "#9B59B6",
    "terminal.ansiRed": "#E74C3C",
    "terminal.ansiWhite": "#E0E0E0",
    "terminal.ansiYellow": "#F1C40F"
  },
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "eslint.run": "onType",
  "eslint.format.enable": true,
  "eslint.validate": [
    "javascript",
    "javascriptreact",
    "typescript",
    "typescriptreact",
    "html",
    "vue",
    "typescript"
  ],
  "eslint.nodePath": "/Users/user/Desktop/project/electron-desktop",
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook"
  },
  "cSpell.userWords": ["uikit"],
  "liveServer.settings.donotShowInfoMsg": true,
  "python.pythonPath": "/usr/local/bin/python3.10",
  "json.validate.enable": false,
  // "typescript.validate.enable": false,
  // "javascript.validate.enable": false,
  "security.workspace.trust.untrustedFiles": "open",
  "redhat.telemetry.enabled": true
}
